.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.app-wrapper {
  width: 100%;
  max-width: 1000px;
  position: relative;
}

.content-wrapper {
  display: flex;
}

button {
  background-color: rgb(255, 255, 255);
  height: 30px;
  min-width: 30px;
  width: 26%;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: 0.2s;
  color: black;
}

button:disabled {
  background-color: rgb(155, 155, 155);
}

button:disabled:hover {
  background-color: rgb(155, 155, 155);
  cursor: not-allowed;
}

button:hover {
  background-color: rgb(201, 201, 201);
  cursor: pointer;
}

.active-button {
  background-color: rgb(220, 255, 200);
}

textarea {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
  font-family: "Pangolin", cursive;
  background-color: rgba(0, 0, 0, 0.08);
  font-size: 20px;
}

textarea:focus {
  outline: none;
}

textarea:disabled {
  color: black;
}

.switch-db-button {
  width: 300px;
  font-size: 15px;
  font-family: "Pangolin", cursive;
}
