.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.app-wrapper {
  width: 100%;
  max-width: 1000px;
  position: relative;
}

.content-wrapper {
  display: flex;
}

button {
  background-color: rebeccapurple;
  margin-right: 20px;
}

button:disabled {
  background-color: rgb(146, 146, 146);
}

.active-button {
  background-color: rgb(51, 255, 0);
}

textarea {
  border: none;
  background-color: rgb(249, 255, 196);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
}

textarea:focus {
  outline: none;
}

textarea:disabled {
  color: black;
}