.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.app-wrapper {
  width: 100%;
  max-width: 1000px;
}

.content-wrapper {
  display: flex;
}

button {
  background-color: rebeccapurple;
  margin-right: 20px;
}

button:disabled {
  background-color: rgb(146, 146, 146);
}

.active-button {
  background-color: rgb(51, 255, 0);
}